<h1 class="cover-heading">Contact</h1>

<p class="lead">
	<hr>
	<h4>
		The best way to reach us is via our Rocket.Chat instance:
	</h4>
	<br/>
    <a href="http://chat.skewedaspect.com" class="btn btn-lg btn-rchat">
        <span class="rocket-logo"></span>
        Join Us
    </a>
	<br/>
	<br/>
    <b>URL:</b> <a href="http://chat.skewedaspect.com">http://chat.skewedaspect.com</a><br/>
	<hr>
	<h4>
		Additionally, you may contact us via any of these:
	</h4>
    <b>Email:</b> <a href="mailto:developers@skewedaspect.com">developers@skewedaspect.com</a><br/>
    <b>GitHub:</b> <a href="https://github.com/SkewedAspect">github.com/SkewedAspect</a><br/>
    <b>Forums:</b> <a href="http://forums.skewedaspect.com">http://forums.skewedaspect.com</a>
	<br>
	<hr>
</p>
