<h1 class="cover-heading">Contact</h1>

<p class="lead">
	<hr>
	<h4>
		The best way to reach us is via our Slack team:
	</h4>
	<br/>
	<a href="http://slackin.skewedaspect.com" class="btn btn-slack"><i class="fa fa-slack"></i> Get a Slack Invite</a>
	<br/>
	<br/>
    <b>URL:</b> <a href="http://skewedaspect.slack.com">skewedaspect.slack.com</a><br/>
	<hr>
	<h4>
		Additionally, you may contact us via any of these:
	</h4>
    <b>Email:</b> <a href="mailto:developers@skewedaspect.com">developers@skewedaspect.com</a><br/>
    <b>GitHub:</b> <a href="https://github.com/SkewedAspect">github.com/SkewedAspect</a><br/>
    <b>Forums:</b> <a href="http://forums.skewedaspect.com">http://forums.skewedaspect.com</a>
	<br>
	<hr>
	<h4>
		Our IRC server has been replaced by a Slack IRC Gateway.<br/>
		<small>You will need to join our Slack team to use it.</small>
	</h4>
	<br/>
	<b>Server:</b> <code>skewedaspect.irc.slack.com</code><br/>
	<b>Password:</b> <code>skewedaspect.fZq9WBZrJ6FDsvwzJflL</code>
	<br/>
	<br/>
	<small class="text-muted">For more instructions, check <a href="https://my.slack.com/account/gateways">here</a>.</small>
	<hr>
</p>
